.silder{
    display: inline-block;
	vertical-align: middle;
	width: 434px;
}
.number{
    display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	width: 105px;
	font-size: 14px;
	font-weight: normal;
	color: #212121;
	border-radius: 2px;
	background-color: #ffffff;
	border: solid 1px #d8d8d8;
}
.center{
    text-align: center;
}
.list{
	padding-right: 10px;
	display: inline-block;
	vertical-align: middle;
}