.table{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
.tabs{
    padding-top: 50px;
}
.count{
    margin-top: 40px;
}
.txt{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    max-width: 200px;
}
.txt2{
    padding-bottom: 20px;
}
.txt1{
    padding-top: 10px;
}
.model{
    margin-top: 30px;
}
.featureListsDiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;

}
.featureListsSpan{
    min-width: 33%;
    text-align: center;
}