.title{
    display: flex;
    justify-content: space-between;
}
.left{
    /* width: 300px; */
    height: 40px;
    color: aqua;
    /* border: 1px solid #ccc; */
    display: flex;
}
.font{
    display: flex;
}
.test{
    height: 24px;
    line-height: 24px;
    background-color: #1890ff;
    max-width: 1;
    margin-right: 5px;
}
