.bmq{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    padding: 40px 50px;
    overflow-y: auto;
}
.table{
    margin-top: 20px;
    background: #fff;
    padding: 30px 20px 20px;
    border:1px solid #E0E1E2;
}