.bmq{
    background: #fff;
    border:  1px solid #d6d6d6;
    padding: 10px 25px;
    overflow-y: auto;
    height: 100%;
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mlr10{
    margin: 0 10px;
}
.echTop{
    display: flex;
}
.echTops{
    flex: 1;
}
.echTopTitle{

}
.echTopDiv{
    height: 200px;
}
.content{
    display: flex;

}
.contentL{
    width: 300px;
    padding-right: 30px;
}

.contentR{
    flex: 1;
}
.alert{
    margin: 10px 0;
}
.echTop2{
    height: 200px;
}
.RowDiv{
display: flex;
}
.RowName{
    line-height: 36px;
    padding-right: 20px;
}
.RowSlider{
width: 300px;
}
.RowInput{
    padding: 3px 0;
}
.tables{
    display: flex;
    text-align: center;
}
.tables1{
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: left;
}
.tables2{
    width: 150px;
    height: 60px;
    line-height: 60px;
}
.tablesNum{
    font-size: 18px;
    margin: 1px;
    font-weight: 600;
}
.tablesNum>span{
    font-size: 14px;
    display: inline-block;
    padding-left: 5px;
    font-weight: 400;
}
.tablescolor1{
    background: rgb(178, 202, 250);
}
.tablescolor2{
    background: rgb(176, 235, 217);
}
.tablescolor3{
    background: rgb(243, 244, 246);
}