.bmq{
    background: #fff;
    border:  1px solid #d6d6d6;
    padding: 10px 25px;
    overflow-y: auto;
    height: 100%;
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mlr10{
    margin: 0 10px;
}
.echTop{
    height: 300px;
}
.content{
    display: flex;

}
.contentL{
    width: 300px;
    padding-right: 30px;
}
.contentTitle{
    margin-top: 20px;
    
}

.contentR{
    flex: 1;
}
.alert{
    margin: 10px 0;
}
.echTop2{
    height: 200px;
}