.main {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 20px 50px 40px;
  overflow-y: auto;
}
.infoList{
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
}
.fileInfo{
  border: 1px solid #E0E1E2;
  background: #fff;
  padding: 10px 20px 10px;
}
.fileInfos1{
  border-bottom:1px solid #ebebeb;
  padding: 10px 0;
}
.fileInfos2{
  padding: 10px 0;
}
.fileInfosDiv{
  width: 33%;
  display: inline-block;
  color: #8c8c8c;
}
.fileInfosDiv span{
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.65) ;
}
.bread1{
  color: rgba(0, 0, 0, 0.65) !important;
position: relative;
padding-left: 16px;
}
.bread1::after{
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  display: inline-block;
  width: 4px;
  height: 15px;
  background: #d4343c;
  border-radius: 2px;
}
.bread2{
  color: #8c8c8c;
}
.pointAnchor{
  padding-bottom: 20px;
  margin-top: 20px;
  width:100%;
  white-space: nowrap;
  overflow-x:auto;
}
.pointAnchor::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0
}

.pointAnchor::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

.pointAnchor::-webkit-scrollbar-thumb {
  background-color: #E9EBF3;
  -webkit-border-radius: 6px;
  outline-offset: -2px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5
}

.pointAnchor::-webkit-scrollbar-thumb:hover {
background-color: #c0c2cc;
}
.pointAnchors{

}
.pointAnchor a{
  display: inline-block;
  line-height: 27px;
  padding: 0 10px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.65);
  margin: 0 10px;
}
.pointAnchorsA{
  background: #d4343c !important;
  color: #fff !important;
}
.pointAnchor a:first-child{
  margin-left:0;
}
.pointAnchor a:last-child{
  margin-right:0;
}
.tables{
  border: 1px solid #E0E1E2;
  background: #fff;
  padding: 20px 20px 20px;
  margin-bottom: 20px;
}
.colBtn{
  height: 21px;
  line-height: 21px;
  padding: 0;
  margin-left: 10px;
}
.textRight{
  text-align: right;
}
.tablesttt{
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
  border-bottom: 1px solid #ebebeb;
  margin: 0 -20px 20px;
  padding: 0 20px 20px;
}

.tablesTitle{
font-size: 16px;
font-weight: 600;
}