.bmq{
    background: #fff;
    padding: 25px 10px;
}

.righttop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}

.mlr10{
    margin: 0 10px;
}
.bottom{
    display: flex;
}
.left{
    width: 200px;
    margin-right: 50px;
}
.right{
    flex: 1;
}