.main {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 20px 50px 40px;
  overflow-y: auto;
}
.infoList{
  padding: 20px 0;
  font-size: 30px;
  font-weight: 600;
  position: relative;
}

.bread1{
  color: rgba(0, 0, 0, 0.65) !important;
position: relative;
padding-left: 16px;
}
.bread1::after{
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  display: inline-block;
  width: 4px;
  height: 15px;
  background: #d4343c;
  border-radius: 2px;
}
.bread2{
  color: #8c8c8c;
}

.tables{
  border: 1px solid #E0E1E2;
  background: #fff;
  padding: 20px 20px 20px;
  margin-bottom: 20px;
}
.colBtn{
  height: 21px;
  line-height: 21px;
  padding: 0;
  margin-left: 10px;
}
.textRight{
  text-align: right;
}
.r20{
  margin-right: 20px;
}