.main {
    width: 100%;
    height: 100%;
    background: #f1f3f7;
    padding: 25px;
    overflow-y: auto;
    min-width: 1100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.headerl {
    font-size: 18px;
}

.headerr {}
.table{
    margin-top: 30px;
}
.father{
    position: relative;
    padding: 20px;
}
.new{
  
  border-radius: 2px;
  border: solid 1px #e1e3e6;
  background-color: #ffffff;
}
.model{
    margin: 35px;
    font-size: 20px;
    color: #202b30;
}
.modelSelect{
    display: flex;
}