.visualization_matrix_div{
    margin: 25px 0 0 25px;
    width: 100%;
    max-height: 637px;
    overflow: auto;
}
.visualization_matrix_table{
    width: 100%;
    max-height: 630px;
    overflow: auto;
}
.visualization_matrix_first_td{
    background-color: #F2F4F8;
    width:36px;
    height: 36px;
    line-height: 36px;
    position: relative;
}
.visualization_matrix_first_td:before {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 36px solid #d5d9dd;
    border-right: 36px solid transparent;
    content: "";
}

.visualization_matrix_first_td:after {
    position: absolute;
    left: 0;
    right: 1px;
    top: 1px;
    bottom: 0;
    border-bottom: 35px solid #F2F4F8;
    border-right: 35px solid transparent;
    content: "";
}
.visualization_matrix_colNum_tr{
    height: 36px;
    line-height: 36px;
    border-right: 1px solid #f2f4f8;
}
.visualization_matrix_colNum{
    font-size: 12px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    background-color: #F2F4F8;
    color: #9fa7b1;
}
.visualization_matrix_lineNum{
    font-size: 12px;
    text-align: center;
    width: 36px;
    line-height: 60px;
    background-color: #F2F4F8;
    color: #9fa7b1;
}
.visualization_matrix_td{
    height: 60px;
    text-align: center;
    min-width: 85px;
    border: 1px solid #d5d9dd;
    padding: 7px;
}
.visualization_matrix_td span{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.visualization_matrix_td .big-text{
    font-family: PingFangSC;
    font-size: 18px;
    letter-spacing: 0;
    color: #333333;
    line-height: 1.5;
}
.visualization_matrix_td span:last-child {
    margin-top: 0;
    font-size: 12px;
    font-family: PingFangSC;
    letter-spacing: 0;
    /* color: #9fa7b1; */
}
.visualization_matrix_td_null{
    height: 60px;
}
.visualization_matrix_colorE1{
    background-color: rgba(30, 198, 255, 0.1);
    color: rgb(30, 198, 255);
}
.visualization_matrix_colorE2{
    background-color: rgba(30, 198, 255, 0.2);
    color: rgb(30, 198, 255);
}
.visualization_matrix_colorE3{
    background-color: rgba(30, 198, 255, 0.3);
    color: rgb(30, 198, 255);
}
.visualization_matrix_colorE4{
    background-color: rgba(30, 198, 255, 0.4);
    color: #ffffff;
}
.visualization_matrix_colorE5{
    background-color: rgba(30, 198, 255, 0.5);
    color: #ffffff;
}
.visualization_matrix_colorE6{
    background-color: rgba(30, 198, 255, 0.6);
    color: #ffffff;
}
.visualization_matrix_colorE7{
    background-color: rgba(30, 198, 255, 0.7);
    color: #ffffff;
}
.visualization_matrix_colorE8{
    background-color: rgba(30, 198, 255, 0.8);
    color: #ffffff;
}
.visualization_matrix_colorE9{
    background-color: rgba(30, 198, 255, 0.9);
    color: #ffffff;
}
.visualization_matrix_colorE10{
    background-color: #1ec6ff;
    color: #ffffff;
}
.visualization_matrix_colorN1{
    background-color: rgba(51, 51, 51, 0.1);
    color: #9fa7b1;
}
.visualization_matrix_colorN2{
    background-color: rgba(51, 51, 51, 0.2);
    color: #9fa7b1;
}
.visualization_matrix_colorN3{
    background-color: rgba(51, 51, 51, 0.3);
    color: #333333;
}
.visualization_matrix_colorN3 span:last-child {
    margin-top: 0;
    font-size: 12px;
    font-family: PingFangSC;
    letter-spacing: 0;
    color: #333333;
}
.visualization_matrix_colorN4{
    background-color: rgba(51, 51, 51, 0.4);
    color: #333333;
}
.visualization_matrix_colorN5{
    background-color: rgba(51, 51, 51, 0.5);
    color: #333333;
}
.visualization_matrix_colorN6{
    background-color: rgba(51, 51, 51, 0.6);
    color: #9fa7b1;
}
.visualization_matrix_colorN7{
    background-color: rgba(51, 51, 51, 0.7);
    color: #9fa7b1;
}
.visualization_matrix_colorN8{
    background-color: rgba(51, 51, 51, 0.8);
    color: #9fa7b1;
}
.visualization_matrix_colorN9{
    background-color: rgba(51, 51, 51, 0.9);
    color: #9fa7b1;
}
.visualization_matrix_colorN10{
    background-color: #333333;
    color: #9fa7b1;
}
.visualization_matrix_td .big_text{
    font-family: PingFangSC;
    font-size: 18px;
    letter-spacing: 0;
    color: #333333;
    line-height: 1.5;
}