.bmq{
 
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
.headerL{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-left: 16px;
}
.headerL::after{
    content: "";
    position: absolute;
    left: 0;
    top: 17px;
    display: inline-block;
    width: 4px;
    height: 15px;
    background: #d4343c;
    border-radius: 2px;
}
.table{
    background: #fff;
    padding: 0px 20px 20px;
    border:1px solid #E0E1E2;
    border-top: none;
    /* overflow-x: auto; */
}
.paddl{
    padding-left: 0;
}
.pointer{
    cursor: pointer;
}
.tabBtn{
    padding: 0;
    padding-left: 5px;
}
.iptSet{
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}
.iptSet span{
    color: #d4343c;
    font-size: 13px;
}
.picker{
    width: 240px;
}