.search{
display: flex;
padding: 30px 20px 20px;
background: #fff;
border:1px solid #E0E1E2;
align-items: center;
border-bottom: none;
}
.searchs{
    color: #000;
}
.searchItem{
display: inline-block;
margin-right: 25px;
}
.serachIpt{
    width: 230px;
}
.searchItemTwo{
    margin-bottom: 20px;
    min-height: 32px;
}
.r20{
    margin-right: 20px;
}