html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
.main {
  width: 100%;
  height: 100%;
  background: #f1f3f7;
  padding: 25px;
  overflow-y: auto;
  min-width: 1100px;
}
.table1 .ant-table {
  background: #fff;
  border: 1px solid #e8e8e8;
}

.table1 .ant-table-thead>tr>th {
  background: #fff;
  color: #b9b9b9;
  font-weight: 400;
}
.table1 .ant-table-tbody > tr > td{
  border-bottom: 1px solid transparent;
}
.tableAction{
  margin: 0 -12px;
}
.addTabs{
  height: 100%;
}
.addTabs .ant-tabs-nav{
  border: 1px solid #d6d6d6;
  border-bottom:none;
}
.addTabs .ant-tabs-bar{
width: 200px;
border-color: transparent;
}
.addTabs.ant-tabs-vertical.ant-tabs-card.ant-tabs-left .ant-tabs-card-bar.ant-tabs-left-bar .ant-tabs-tab-active{
  margin-right: 1px;
}
.addTabs.ant-tabs-vertical.ant-tabs-card .ant-tabs-card-bar.ant-tabs-left-bar .ant-tabs-tab, 
.addTabs.ant-tabs-vertical.ant-tabs-card .ant-tabs-card-bar.ant-tabs-right-bar .ant-tabs-tab{
  margin-bottom: 0;
  text-align: left;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  border-radius: 0;
}
.addTabs.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
  background: #fff;
  font-weight: 400;
}
.addTabs.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
  background: #fafafa;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
}
.ant-tabs .ant-tabs-left-content{
  height: 100%;
}
.ant-tabs .ant-tabs-tabpane-active{
  height: 100%;
}
.ant-form-vertical .ant-form-item{
  margin-bottom: 0;
}
.ant-table-small {
  border: none;
  border-radius: 0;
}
.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}
.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th{
  background-color: #fafafa;
}
.dark-row{
  background: #f2f8ff;
}
.borderDiv{
  background: #fff;
  border:  1px solid #d6d6d6;
  padding: 10px 25px;
}
.borderDivT{
  font-size: 16px;
  padding-bottom: 10px;
}
.borderDivList{
  display: flex;
}
.borderltems{
  margin-right: 50px;
}

.mtb10{
  margin: 10px 0;
}
.mt10{
  margin-top: 10px;
}
.ml20{
  margin-left: 20px;
}
.ml40{
  margin-left: 40px;
}
.fs16{
  font-size: 16px;
}
.fs18{
  font-size: 18px;
}
.weight6{
  font-weight: 600;
}
.flexcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.noForm .ant-form-item-required::before{
  display: none;
}
.w80{
  width: 80%;
}
.disNo{
  display: none;
}
.flexLr{
  display: flex;
  justify-content: space-between;
}
.radioTable .ant-table-selection-column{
  padding: 0;
  border-right: none !important;
}
.radioTable .ant-table-selection-column>span{
  display: none !important;
}
.radioTable .ant-table-tbody > tr.ant-table-row-selected td{
  background: #8edcff;
}
.addModalIndex .ant-modal-body{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.addModalIndex .ant-modal-body .ant-card{
  cursor: pointer;
}
.addModalIndex .ant-modal-footer{
  display: none;
}