.normal {
  width: 100%;
  height: 100%;
}

.title {
}
.conten {
  height: calc(100% - 50px);
}
.header {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 30px;
  background: #202b30;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.userInfo {
  color: #fff;
  line-height: 50px;
}
.userInfo a {
  color: #fff;
  line-height: 50px;
}
.userInfo a:hover {
  color: #fff;
}

.loginImg{
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background: url(../assets/logo3.jpg) no-repeat center 0;
  background-size:100%;
  display: inline-block;
  margin-top: -5px;
  margin-right: 10px;
}
.logo{
  cursor: pointer;
}